<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <title>Survey Form</title>
</head>

<body>
    <div class="container mt-4">
        <h1>Submitted Info</h1>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10 form-text">
                <%=form_data.name%>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Dojo Location:</label>
            <div class="col-sm-10 form-text">
                <%=form_data.location%>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Favorite Language:</label>
            <div class="col-sm-10 form-text">
                <%=form_data.language%>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Comment:</label>
            <div class="col-sm-10 form-text">
                <%=form_data.comment%>
            </div>
        </div>
        <a class="btn btn-info float-right" href="/">Go Back</a>
    </div>
</body>

</html>